<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Blurdle.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8C2F2649EE8B0BF0692B8008584749D2E06EE5B9</string>
				<key>dateExpires</key>
				<string>13/01/2023</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>JMKLMJ6BUN.com.arwell.blurdle</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JMKLMJ6BUN</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>JMKLMJ6BUN.com.arwell.blurdle</string>
				</array>
			</dict>
			<key>name</key>
			<string>Blurdle.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>03823381-c732-49b1-9435-148d2660a4e0</string>
				<key>dateExpires</key>
				<string>13/01/2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.arwell.blurdle</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JMKLMJ6BUN</string>
				<key>name</key>
				<string>Ben Roylance</string>
			</dict>
			<key>versionNumber</key>
			<string>0.2</string>
		</dict>
	</array>
</dict>
</plist>
